@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
	Breakpoint prefix	Minimum width	CSS
	sm	640px	@media (min-width: 640px) { ... }
	md	768px	@media (min-width: 768px) { ... }
	lg	1024px	@media (min-width: 1024px) { ... }
	xl	1280px	@media (min-width: 1280px) { ... }
	2xl	1536px	@media (min-width: 1536px) { ... }
*/

@layer base {
	* {
		@apply m-0 p-0 box-border border-[0px] border-red-500 font-poppins text-cinza-800 text-base
	}
	
	body {
		@apply bg-cinza-900 dark:bg-black bg-cover bg-center bg-no-repeat bg-fixed
	}

	header {
		@apply fixed w-full backdrop-blur-xl z-40 bg-[#21212195]
	}

	nav {
		@apply container grid-cols-2 items-center py-4 lg:py-0 lg:items-start
	}
	
	section {
		@apply w-full flex-col py-12 scroll-smooth xl:py-16
	}
	
	section, figure, span {
		@apply flex
	}
	
	h1 {
		@apply text-white font-bold text-3xl lg:text-6xl
	}
	
	h2 {
		@apply text-white font-bold text-xl lg:text-3xl
	}
	
	h3 {
		@apply text-white text-xl font-semibold
	}
	
	h4 {
		@apply text-white text-lg
	}
	
	h5 {
		@apply text-white text-sm lg:text-base
	}
	
	h6 {
		@apply text-white text-xs
	}
	
	p {
		@apply text-base
	}
	
	figure {
		@apply overflow-hidden rounded
	}
}

@layer components {
	.info-respo {
		@apply hidden z-50 text-2xl bg-red-500 fixed
	}

	.container {
		@apply grid gap-4 py-8 w-5/6 mx-auto xl:w-10/12 2xl:w-8/12
	}
	
	.container-full {
		@apply fixed bg-white min-h-dvh max-h-dvh w-full top-0 left-0
	}

	.icon-menu-mobile {
		@apply text-3xl text-cinza-200 cursor-pointer
	}

	.menu-mobile {
		@apply container-full transition-all duration-700 delay-100 ease-in-out
	}
	
	.nav-link-mobile {
		@apply text-[#babcc1] mb-8
	}
	
	.nav-link-desktop {
		@apply relative flex w-1/4 items-center justify-center text-xs xl:text-sm
	}
	
	.nav-link-desktop p {
		@apply z-30 absolute text-cinza-200 my-auto ml-2 cursor-pointer text-base xl:text-lg
	}

	.nav-link-desktop div {
		@apply z-20 h-10 w-full transition-all duration-150 ease-in-out bg-laranja scale-x-0  origin-left
	}

	.foto-perfil {
		@apply  mx-auto w-56 lg:w-72 aspect-square overflow-hidden rounded-full
	}
	
	.titulo-section {
		@apply flex w-5/6 mx-auto p-0 mb-4 text-laranja font-extralight items-center xl:w-10/12 2xl:w-8/12
	}
	
	.titulo-section iconify-icon {
		@apply mr-4 text-4xl text-laranja
	}
	
	.btn {
		@apply transition-all duration-150 px-6 py-3 w-full font-semibold rounded-lg shadow flex items-center text-base justify-center cursor-pointer hover:scale-105 my-2 lg:my-0 lg:mx-2
	}
	
	.btn iconify-icon {
		@apply mr-2 text-xl  
	}
	
	.btn-primario {
		@apply bg-laranja text-white
	}
	
	.btn-primario iconify-icon {
		@apply text-white
	}
	
	.btn-secundario {
		@apply bg-cinza-800 text-laranja
	}
	
	.btn-secundario iconify-icon {
		@apply text-laranja
	}
	
	.grid-habilidades {
		@apply container w-full gap-2 grid-cols-2 md:grid-cols-3 xl:grid-cols-2
	}
	
	.box-habilidade {
		@apply flex-col transition-all duration-150 w-full aspect-square bg-cinza-800 rounded-lg shadow text-center justify-center items-center py-4 px-2
	}
	
	.box-habilidade-icon {
		@apply text-4xl text-cinza-200 mb-4 lg:text-4xl lg:mb-2
	}
	
	.box-habilidade-text {
		@apply text-cinza-500 text-sm
	}

	.filtro-projetos {
		@apply flex gap-8 w-auto justify-between mx-auto lg:w-10/12
	}

	.filtro-item {
		@apply justify-center w-40 items-center pb-4 border-b-2 border-cinza-900 cursor-pointer hover:text-laranja
	}

	.filtro-item-icon {
		@apply text-2xl mr-2 text-cinza-200
	} 

	.filtro-item-text {
		@apply text-sm text-cinza-200
	} 

	.filtro-item-ativo {
		@apply text-laranja border-laranja
	}
	
	.box-projeto {
		@apply w-full min-h-[350px] bg-white overflow-hidden flex rounded-lg cursor-pointer flex-col justify-between lg:flex-row lg:min-h-[400px]
	}

	.box-projeto-infos {
		@apply p-8 w-full flex flex-col justify-between transition-all duration-150 lg:w-1/3
	}
	
	.box-projeto-titulo {
		@apply font-semibold text-laranja mb-4
	}

	.box-projeto-subtitulo {
		@apply text-cinza-500
	}
	
	.box-projeto-icones iconify-icon {
		@apply mr-2 text-cinza-800 text-2xl
	}

	.box-projeto-img {
		@apply w-full aspect-video object-cover object-center transition-all duration-150 brightness-[.97] lg:group-hover:translate-x-4 lg:w-2/3
	}
		
	.container-projeto {
		@apply container-full transition-all z-50 duration-700 bg-white
	}

	.img-galeria-projeto {
		@apply w-full cursor-pointer aspect-square object-cover object-top	
	}
	
	#sessao-intro {
		@apply min-h-dvh justify-center
	}
	
	#rodape {
		@apply p-0
	}

	.container-perfil {
		@apply items-center text-center 
	}

	.box-especialidade {
		@apply bg-cinza-800 p-6 rounded-lg aspect-square flex flex-col justify-between items-center
	}

	.box-especialidade-icone {
		@apply text-cinza-200 text-6xl
	}

	.box-especialidade-titulo {
		@apply my-6 font-semibold text-cinza-200 text-base
	}

	.box-especialidade-barra {
		@apply bg-cinza-700 w-full h-[4px] overflow-hidden rounded-full
	}

	.box-especialidade-barra-preench {
		@apply bg-laranja h-full w-2/3
	}

	.box-especialidade-num {
		@apply w-full font-bold text-right mt-2 text-cinza-200
	}

	.contato-item {
		@apply flex items-center cursor-pointer mb-4
	}
	
	.icone-contato {
		@apply mr-4 text-cinza-200 text-2xl flex items-center justify-center transition
	}
	
	.texto-contato {
		@apply text-cinza-200 text-xs
	}

	.img-aberta {
		@apply lg:w-2/3
	}

	.peliculaBgImg {
		@apply flex backdrop-blur overflow-y-scroll justify-center items-start bg-[#000000c5] fixed z-50 top-0 left-0 w-full h-full p-4 lg:py-24
	}
}

@layer utilities {
	* {
		/* width */
		::-webkit-scrollbar {
			width: .25rem;
			height: .15rem;
		}
		
		/* Track */
		::-webkit-scrollbar-track {
			border-radius: 2rem;
		}
		
		/* Handle */
		::-webkit-scrollbar-thumb {
			background: #f45714;
			/*border-radius: 2rem;*/
		}
	}

	.invisible-scrollbar::-webkit-scrollbar-thumb {
		display: none;
	}

	.visible-scrollbar::-webkit-scrollbar-thumb {
		display: block;
	}
}